/* Reset */ 
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* HEADER */ 
#header { 
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 25px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: Poppins;
    background-color: rgb(57, 0, 153);
    color: white;
}

#header h1{
    font-weight: 600;
}

#header h2 {
    color: rgb(255, 189, 04);
    font-weight: 300;
    font-size: x-large;   
    width: 100%;
    align-items: center;
    text-align: center;
}


/* NAVBAR */ 
.container-fluid{ 
    background-color: rgb(57, 0, 153);
}

.navbar-brand img {
    width: 50px;
    align-self: center;
}

.nav-item a { 
    color: white;
}

.d-flex button{ 
    color: white;
}

/* Modificacion del color del menú sandwich del navbar (como no lograba cambiarlo con simplemente llamar a la clase y cambiar el color, encontre que se podía cambiar la imagen directamente y tocarle el color desde ahi) */ 
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0, 128, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*FIN DE NAVBAR */ 
/* FIN DE HEADER */ 



/* BODY INDEX */ 
#bodyIndex{
    background-color: rgb(72, 63, 81);
    min-height: 100vh;
}

/* MAIN INDEX */ 
#mainIndex h2 { 
    margin-top: 20px;
    font-size: 2rem;
    width: 100%;
    display:flex; 
    justify-content: center;
    color: rgb(229, 229, 229);
    letter-spacing: 8PX;
    font-weight: 300;
}


/* NOTICIAS */

.noticiasIndex {
    margin: 0;
    padding: 30px 15px 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262525;
    flex-direction: column;
    gap: 20px;
}

.card__noticia {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 800px;
    background-color: rgb(225, 225, 225);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card__noticia img {
    width: 300px;
    height: auto;
    object-fit: cover;
  }
  
  .noticia__contenido {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contenido--genero {
    color: #888;
    font-size: 12px;
  }
  
  .contenido--titulo {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
  }
  
  .contenido--descripcion {
    font-size: 14px;
    color: #555;
  }
  
  /* noticias cards responsive con media queries */ 
  @media (max-width: 800px) {      
    .card__noticia {
        flex-direction: column;
        width: 100%;
    }
  
    .card__noticia img {
        width: 100%;
        height: auto;
    }
  
    .noticia__contenido {
        padding: 10px;
    }
  
    .contenido--titulo {
        font-size: 16px;
    }
  
    .contenido--descripcion {
        font-size: 13px;
    }
  
    .contenido--genero {
        font-size: 11px;
    }
  }

/*******************************************************************/


/* FIN NOTICIAS PRIMER SECTION */ 

/* CAROUSEL NOTICIAS DESTACADAS */ 


.carousel-caption{
    text-shadow: 2px 2px 2px black;
}

.carousel-caption h3{
    font-size: 2vw;
}

.carousel-caption p{
    font-size: 1.8vw;
}
/* FIN CAROUSEL NOTICIAS DESTACADAS */ 
/* FIN MAIN INDEX */ 
/* FIN DE BODY INDEX*/



/* FOOTER */ 
#footer {
    height: 300px;
    background-color: rgb(19, 19, 19) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__redes li { 
    list-style: none;

    width: auto;
}

.footer__copy h4 { 
    font-size: medium;
    color: white;
}
/* FIN DE FOOTER */ 

/* PAGE ESTRENOS */ 
/* BODY ESTRENOS */

#bodyEstrenos { 
    background-color: rgb(49, 62, 62);;
}
.cartelera--titulo{ 
    width: 100%;
    color: rgb(193, 143, 202);
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 5px;
    background-color: rgb(49, 62, 62);
    margin-top:20px;
}

/* Cards de Cartelera */ 
.cartelera { 
    display: flex;
    justify-content: center; /* centrar el grupo de cards */ 
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(49, 62, 62);
    padding: 20px;
}

.cartelera__pelicula { 
    width: 180px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* margin: 20px; */
}

.cartelera__pelicula img{
    width: 100%;
    height: 70%;
}

.cartelera__pelicula--texto{
    padding: 10px;
    align-items: center;
    text-align: center;
}

.cartelera__pelicula--texto h3 { 
    font-size: 20px;
}

.cartelera__pelicula--texto p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
/* FIN Cards de Cartelera */ 

/* Section Proximos Estrenos */

.estrenos--titulo{ 
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 5px;
    background-color: rgb(201, 138, 12);
    margin-top:20px;
}
.estrenos{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin: auto;
    align-items: center;
    padding-bottom: 100px;
}

.estrenos__pelicula { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7rem;
    width: 100%;
    justify-content: center;
    min-height: fit-content;
    background-color:
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

.estrenos__pelicula iframe{
    aspect-ratio: 16/9;
    height: 200px;
}

.estrenos__pelicula--texto{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
}

.estrenos__pelicula--texto h2{
    font-size: 1.8em;
}

.estrenos__pelicula--texto h3{
    font-size: 1.2em;
}

.estrenos__pelicula--texto p{
    font-size: 0.8em;
}

/* FIN Section Proximos Estrenos */
/* FIN PAGE ESTRENOS */ 





/* PAGE PELICULAS */ 
/* MAIN PELICULAS */

#mainPeliculas{
    background-color: #131115;
}

#mainPeliculas h2 { 
    width: 100%;
    color: rgb(193, 143, 202);
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 5px;
    padding-top: 50px;
}
/* SECTION ULTIMAS NOTICIAS GRID */ 

  .peliculas__noticiasRel{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    padding: 20px;
  }
  
  
  .noticias_articulo {
    position: relative;
  }
  
  .articulo--imagen {
    line-height: 0;
    overflow: hidden;
  }
  
  .articulo--imagen img {
    width: 100%; 
    height: auto;
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .articulo--titulo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .noticias_articulo:hover .articulo--titulo {
    opacity: 1;
  }
  
  .noticias_articulo:hover .articulo--imagen img {
    filter: blur(2px);
  }
  
/* FIN SECTION ULTIMAS NOTICIAS GRID*/ 

/* SECTION NOTICIAS GAMING EN FLEX */ 
.contenedor__noticiaPelicula { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

.noticiaPelicula { 
    width: 50%; 
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    display: flex;
    gap: 20px;
}

.noticiaPelicula--portada {
    width: 30%;
    /* height: auto; */
    object-fit:cover;
}

.noticiaPelicula--texto {  
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    gap:10px;
    width: 100%;
}

.noticiaPelicula--texto h3{ 
    margin-top: 10px;
    font-size: 1em;

}

.noticiaPelicula--texto p{ 
    flex:1 ; 
    font-size: 1em;
    line-height: 1.5;
    margin-right: 20px;
}

/* FIN SECTION NOTICIAS GAMING EN FLEX */ 
/* FIN MAIN PELICULAS */ 
/* FIN PAGE PELICULAS */ 



/* PAGE GAMING */ 
#mainGaming{
    background-color: rgb(74, 63, 84);
}

#mainGaming h2 { 
    width: 100%;
    color: rgb(194, 164, 248);
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 5px;
    padding-top: 50px;
}

.gaming__noticiasRel{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    padding: 20px;
  }
  
/* FIN PAGE GAMING */ 


/* PAGE SERIES */ 
#mainSeries{
    background-color: rgb(233, 198, 152);
}

#mainSeries h2{
    width: 100%;
    color: rgb(66, 54, 88);
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 5px;
    padding-top: 50px;
}

.series__noticiasRel{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    padding: 20px;
  }
  
/* FIN PAGE SERIES */ 